body {
    margin: 0;
    padding: 0;
}

.App {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    box-shadow: 5px 5px 15px rgb(55, 74, 99);
    padding: 10px;
    border-radius: 2.5px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

p {
    margin: 0;
}

input[type=number] {
    padding: 10px 15px;
    transition: all 2s;
    outline: none;
    border-radius: 4px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input {
    margin: 10px 0;
}

input[type=number]:focus {
    border: 2px solid rgb(0, 119, 255);
}

h1 {
    margin: 0;
    color: white;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input[type=button] {
    background: transparent;
    padding: 7.5px;
    border-radius: 2px;
    border-color: white;
    font-weight: bold;
    color: white;
    transition: all .3s;
}

input[type=button]:hover {
    background:rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}